# Apple detrius
#
.DS_Store

# Python extras
#
venv2*/
venv3*/
__py_cache__
*.pyc

# Ruby and rbenv extras
#
.ruby-version
.rblcl
/Gemfile
/Gemfile.lock
ruby/deactivate-project.ps1
.gems/
.rbenv-gemsets

# Node.js
#
.jslcl
nodejs/deactivate-venv.src
nodejs/deactivate-venv.ps1
node_modules/

# Sublime Text
#
*.sublime-workspace
